/*<meta />*/
@font-face {
  font-family: 'Nunito Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Nunito Sans Italic'), local('NunitoSans-Italic'), url(https://fonts.gstatic.com/s/nunitosans/v4/pe0oMImSLYBIv1o4X1M8cce4E9lKcw.ttf) format('truetype');
}
@font-face {
  font-family: 'Nunito Sans';
  font-style: italic;
  font-weight: 700;
  src: local('Nunito Sans Bold Italic'), local('NunitoSans-BoldItalic'), url(https://fonts.gstatic.com/s/nunitosans/v4/pe01MImSLYBIv1o4X1M8cce4G2JvY1MIVw.ttf) format('truetype');
}
@font-face {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Nunito Sans Regular'), local('NunitoSans-Regular'), url(https://fonts.gstatic.com/s/nunitosans/v4/pe0qMImSLYBIv1o4X1M8cce9I94.ttf) format('truetype');
}
@font-face {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Nunito Sans Bold'), local('NunitoSans-Bold'), url(https://fonts.gstatic.com/s/nunitosans/v4/pe03MImSLYBIv1o4X1M8cc8GBs5tU1Q.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Mono'), local('RobotoMono-Regular'), url(https://fonts.gstatic.com/s/robotomono/v6/L0x5DF4xlVMF-BfR8bXMIjhLq3o.ttf) format('truetype');
}
body {
  font-family: 'Nunito Sans Regular';
}
code {
  font-family: 'Roboto Mono';
}
h1 {
  font-weight: bold;
  font-size: 24pt;
}
h2 {
  font-weight: bold;
  font-size: 18pt;
}
h3 {
  font-weight: bold;
  font-size: 14pt;
}
h4 {
  font-weight: bold;
  font-size: 12pt;
}
h5 {
  font-weight: bold;
  font-size: 10pt;
}
h6 {
  font-weight: bold;
  font-size: 8pt;
}
p {
  font-size: 12pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
}
ol,
ul {
  margin-top: 0px;
  margin-bottom: 0px;
}
img {
  border: none;
}
MadCap|expandingHead {
  font-style: italic;
  font-weight: normal;
  cursor: hand;
  text-decoration: none;
  color: #006600;
}
MadCap|expandingBody {
  color: #777777;
  font-style: italic;
}
MadCap|dropDownHotspot {
  cursor: hand;
  font-style: italic;
  text-decoration: none;
  color: #006600;
}
